go_version=$(grep "^go " go.work | awk '{split($2,a,"."); print a[1]"."a[2]}')

gobrew use ${go_version}@latest

# We store common go related files (caches, common tools e.t.c) in the parent directory
# This may be unexpected but it's a better option than polutting global
export GOPATH=$(expand_path $PWD/../go/${go_version})

PATH_add $GOPATH/bin
PATH_add ./bin
PATH_add ./node_modules/.bin

export PM2_HOME="$PWD/.pm2"

# python/venv is optional dependency, see README.md#build-dependencies
if [ -d ".venv" ] && [ -f ".venv/bin/activate" ]; then
  source .venv/bin/activate
fi

# Node stuff
source ~/.nvm/nvm.sh
if [ -f "scripts/nvm-auto" ]; then
  source scripts/nvm-auto
fi
nvm use

export SUMWEAVE_POSTGRES_TEST_DSN="postgres://sumweave_runtime:sumweave_runtime_local@127.0.0.1:55432/sumweave_test?sslmode=disable"

# Load local user env if it exists
[[ -f .envrc.local ]] && source_env .envrc.local
